<!DOCTYPE html>
<html>
<head>
    <title>
        EWHS KEY CLUB | Login
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#003366">
    <meta name="apple-mobile-web-app-title" content="EWHS Key Club">
    <meta name="application-name" content="EWHS Key Club">
    <meta name="theme-color" content="#003366">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
</head>
<body>
    <div id="header">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}"></a>
        <ul id="nav">
            <li><a href="{% url 'updates' %}">Updates</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}" class="loginout">Logout</a></li>
            {% endif %}
        </ul>
    </div>
    <div id="content" class="no-cover">
        <div class="section">
            <div class="text-section ta-center">
                {% if user.is_authenticated %}
                <h1>You are already logged in.</h1>
                {% else %}
                <form id="form" method='POST' action='' novalidate>
                {% csrf_token %}
                    {% if form.non_field_errors %}
                    <div class="form-errors">
                       {{ form.non_field_errors }}
                    </div>
                    {% endif %}
                {% for field in form %}
                    <div class="form-field">
                        {{ field }}
                    </div>
                    {% if field.errors %}
                    <div class="field-errors">
                        {{ field.errors }}
                    </div>
                    {% endif %}
                {% endfor %}
                <div style="margin-top: 15px;">
                    <a href="{% url 'register' %}">Don't have an account?</a>
                </div>
                <div style="margin-top: 35px; margin-bottom: 20px;">
                    <a href="#" onclick="document.forms['form'].submit();" class="button">Login</a>
                </div>
                <input type="submit" style="display: none" />
                </form>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="{% static 'img/seal.svg' %}">
    </div>
</body>
</html>