<!DOCTYPE html>
<html>
<head>
    <title></title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <div id="header">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}"></a>
        <ul id="nav">
            <li><a href="{% url 'updates' %}" class="active">Updates</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}" class="loginout">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}?next={{request.path}}" class="loginout">Login</a></li>
            {% endif %} 
        </ul>
    </div>
    {% if posts %}
    <div id="cover-updates" class="cover">
        <div id="cover-text">
           <h2>Latest Post</h2>
           <h3>{{ latestpost.title }}</h3>
        </div>
    </div>
    {% else %}
    <div id="cover-updates" class="cover">
        <div id="cover-text">
           <h2>Updates</h2>
        </div>
    </div>
    {% endif %}
    <div id="content">
        {% if posts %}
        {% for post in posts %}
        <div class="section">
            <div class="text-section">
                <a class="post-title" href="{% url "updatepost" id=post.id %}">{{ post.title }}</a>
                <h2>{{ post.publish_date }}</h2>
                <p>{{ post.content|truncatechars:400 }}</p>
                <a href="{% url "updatepost" id=post.id %}">Read more</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="section">
            <div class="text-section ta-center">
                <h1>There are no posts at the moment.</h1>
            </div>
        </div>
        {% endif %}
        <div class="section">
            <div class="text-section ta-center pagination">
                <h2>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</h2>
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Previous</a><br/>
                {% endif %}
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="{% static 'img/seal.svg' %}">
    </div>
</body>
</html>