<!DOCTYPE html>
<html>
<head>
    <title>
        EWHS KEY CLUB | Updates
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#003366">
    <meta name="apple-mobile-web-app-title" content="EWHS Key Club">
    <meta name="application-name" content="EWHS Key Club">
    <meta name="theme-color" content="#003366">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Read the latest updates from the Edmonds-Woodway High School Key Club">
    <meta name="keyword" content="updates, update, ewhs, edmonds-woodway high school, key club, ewhs key club, edmonds-woodway high school key club">
</head>
<body>
    <div id="header">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}"></a>
        <ul id="nav">
            <li><a href="{% url 'updates' %}" class="active">Updates</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}?next={{request.path}}" class="loginout">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}?next={{request.path}}" class="loginout">Login</a></li>
            {% endif %} 
        </ul>
    </div>
    {% if posts %}
    <div id="cover-updates" class="cover">
        <div id="cover-text">
           <h2>Latest Post</h2>
           <h3>{{ latestpost.title }}</h3>
        </div>
    </div>
    {% else %}
    <div id="cover-updates" class="cover">
        <div id="cover-text">
           <h2>Updates</h2>
        </div>
    </div>
    {% endif %}
    <div id="content">
        {% if posts %}
        {% for post in posts %}
        <div class="section">
            <div class="text-section">
                <a class="post-title" href="{% url "updatepost" id=post.id %}">{{ post.title }}</a>
                <h2>{{ post.publish_date }}</h2>
                <p>{{ post.content|truncatechars:400 }}</p>
                <a href="{% url "updatepost" id=post.id %}">Read more</a>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <div class="section">
            <div class="text-section ta-center">
                <h1>There are no posts at the moment.</h1>
            </div>
        </div>
        {% endif %}
        <div class="section">
            <div class="text-section ta-center pagination">
                <h2>Page {{ posts.number }} of {{ posts.paginator.num_pages }}</h2>
                {% if posts.has_previous %}
                    <a href="?page={{ posts.previous_page_number }}">Previous</a><br/>
                {% endif %}
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">Next</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="{% static 'img/seal.svg' %}">
    </div>
</body>
</html>