<!DOCTYPE html>
<html>
<head>
    <title>
        EWHS KEY CLUB | 404
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
</head>
<body>
    <div id="header">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}"></a>
        <ul id="nav">
            <li><a href="{% url 'updates' %}">Updates</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}" class="loginout">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}?next={{request.path}}" class="loginout">Login</a></li>
            {% endif %} 
        </ul>
    </div>
    <div id="content" class="no-cover">
        <div class="section">
            <div class="text-section uppercase ta-center">
                <h1>Page not found (404)</h1>
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="{% static 'img/seal.svg' %}">
    </div>
</body>
</html>