<!DOCTYPE html>
<html>
<head>
    <title>
        EWHS KEY CLUB | 500
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static '/manifest.json' %}">
    <link rel="mask-icon" href="{% static '/safari-pinned-tab.svg' %}" color="#003366">
    <meta name="apple-mobile-web-app-title" content="EWHS Key Club">
    <meta name="application-name" content="EWHS Key Club">
    <meta name="theme-color" content="#003366">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow">
</head>
<body>
    <div id="header">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}"></a>
        <ul id="nav">
            <li><a href="{% url 'updates' %}">Updates</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}" class="loginout">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="loginout">Login</a></li>
            {% endif %} 
        </ul>
    </div>
    <div id="content" class="no-cover">
        <div class="section">
            <div class="text-section uppercase ta-center">
                <h1>Internal Server Error (500)</h1>
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="{% static 'img/seal.svg' %}">
    </div>
</body>
</html>