<!DOCTYPE html>
<html>
<head>
    <title>
        EWHS KEY CLUB
    </title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Edmonds-Woodway High School Key Club is part of Key Club International—a student-led organization which focuses on leadership and service.">
    <meta name="keyword" content="ewhs, edmonds-woodway high school, key club, ewhs key club, edmonds-woodway high school key club">
</head>
<body>
    <div id="header">
        <a href="{% url 'index' %}"><img src="{% static 'img/logo.svg' %}"></a>
        <ul id="nav">
            <li><a href="{% url 'updates' %}">Updates</a></li>
            <li><a href="{% url 'events' %}">Events</a></li>
            {% if user.is_authenticated %}
            <li><a href="{% url 'profile' %}">Profile</a></li>
            <li><a href="{% url 'logout' %}" class="loginout">Logout</a></li>
            {% else %}
            <li><a href="{% url 'login' %}" class="loginout">Login</a></li>
            {% endif %} 
        </ul>
    </div>
    <div id="cover-index" class="cover">
        <div id="cover-text">
           <h2>Caring—Our Way of Life</h2>
        </div>
    </div>
    <div id="content">
        <div class="section">
            <div class="text-section ta-center">
                <h1>What is Key Club and Kiwanis?</h1>
                <p>Key Club International is the oldest and largest service program for high school students. This international organization is led by students who learn leadership through their service. Key Club International is sponsored by Kiwanis International, and is currently assisting Kiwanis in helping the children of the world. Right now, there are over 260,000 members from 5,000 clubs from 34 nations. In 1925, the first Key Club was established in Sacramento, California by the local Kiwanis club. Two men from Kiwanis proposed the idea of having a "junior service program," and first opened it to the "key" boys of the school (who wanted to serve the school in any way possible and create more school spirit). Thus, Kiwanis dubbed this organization "Key Club."</p>
                <p>Kiwanis International is an organization dedicated to change the world. They feed the hungry, help shelter the homeless, mentor the disadvantaged, teacher students how to become leaders and help in their community, raise money for research for pediatrics, and make a substantial difference. The Key Club service initiative is the hands-on element of the Major Emphasis. All of the hands-on service provided to children by Key Club International members is directed to a single area of need, to make a substantial impact. The current service initiative, The Eliminate Project, allows Key Clubbers joining forces with Kiwanis International and UNICEF eliminate maternal and neonatal tetanus.</p>
            </div>
        </div>
        <div class="section">
            <div class="text-section ta-center">
                <div>
                    <h1>About EWHS Key Club</h1>
                    <p>EWHS Key Club is one of the twelve schools that make up Division 21. Division 21 is one of the 44 divisions within the PNW District. We meet every week on Tuesdays at 7PM which lasts for about an hour. Edmonds-Woodway Key Club is involved in many neighboring organizations including Annie’s Kitchen, March of Dimes, and KCCP. A service event unique to our Key Club is making pumpkin pies for the homeless during the holiday season. It’s a fun way to bring our members together as well as give back to our community.</p>
                </div>
                <div style="margin-top: 50px;">
                <a class="button" href="https://www.facebook.com/groups/pnwdivision21/">Stay updated with our division!</a>
                </div>
            </div>
            <div class="text-section ta-center">
                <h1>Why Should You Join?</h1>
                <p>You can earn service/CAS hours, make new friends, and go to district conventions filled with other enthusiastic students. Being passionate and actively involved about Key Club impresses colleges and earns you scholarships. By making a difference in other people's lives, Key Club members build both their character and leadership skills. Key Club also helps in developing important Social and Emotional Skills, which allows club members to understand self and develop meaningful connections with others. Club members learn to calm down when angry, initiate meaningful friendships, resolve relationship conflicts respectfully, and make ethical and safe choices.</p>
            </div>
        </div>
    </div>
    <div id="footer">
        <img src="{% static 'img/seal.svg' %}">
    </div>
</body>
</html>