#header{
    text-transform:uppercase;
    background-color:#0c4b33;
    text-align:center;
    user-select:none;
}
        #header h1{
            font-size:28px;
            color:#FFF;
            margin:50px 0 3px;;
        }
            #header h1 a{
                text-decoration:none;
                color:#FFF;
            }
        #header h2{
            font-size:14px;
            color:#44B78B;
            margin:0 0 50px;
        }

#nav{
    background-color:#116b48;
    border-radius:0px;
    border:0px;
    text-transform:uppercase;
    text-align:center;
    user-select:none;
    margin:0;
}
    #nav li a{
        color:#FFF;
    }
        #nav li > a:hover{
            color:#C9F0DD;
        }
        #nav li.active > a{
            color:#C9F0DD;
        }
    #nav li > a:hover, #nav li > a:focus{
        background-color:transparent;
    }

#container h1, #container h2, #container h3, #container h4, #container h5, #container h6, #container p{
    color:#0C3C26;
}
#container a{
    color:#116b48;
}
#container a:hover{
    color:#20AA76;
}

.affix{
    top:0;
    width:100%;
    position:relative;
}
.navbar-nav{
    margin:0 !important;
}

@media(min-width:768px){
    #nav{
        height:50px;
    }
        #nav ul{
            float:none;
            margin:0;
            display:inline-block;
        }
    .affix{
        position:fixed;
    }
}
