#header{
    background-color:#0c4b33;
}
    #header #logo{
        text-transform:uppercase;
        user-select:none;
        float:left;
        height:175px;
        margin:0 0 0 2vw;
    }
        #header #logo h1{
            color:#FFF;
            text-align:center;
            padding:0;
            margin:0;
            line-height:175px;
            font-size:2em;
        }
            #header #logo h1 a{
                text-decoration:none;
                color:#FFF;
            }
    #header #nav{
        float:right;
        text-transform:uppercase;
        text-align:center;
        user-select:none;
        padding:0;
        height:175px;
        margin:0 2vw 0 0;
    }
        #header #nav ul{
            width:auto;
            float:none;
            line-height:175px;
        }
        #header #nav li{
            display:inline-block;
            margin:0 1vw;
        }
        #header #nav li a{
            color:#FFF;
        }
            #header #nav li.active{
                color:#C9F0DD;
            }
            #header #nav li a:hover{
                color:#C9F0DD;
            }
#container{
    padding:1vw 10vw;
    overflow:hidden;
}

h1, h2, h3, h4, h5, h6, p{
    color:#0C3C26;
}
h1, h2, h3, h4, h5, h6{
    text-align:center;
    text-transform:uppercase;
}
a{
    color:#116b48;
}
a:hover{
    color:#20AA76;
}
img{
    width:100%;
    height:auto;
    display:block;
    margin:0 auto;
    padding:10px;
    border:10px #318464 solid;
}

@media screen and (max-width:1115px) {
    #header #logo, #header #nav{
        float:none;
        width:100%;
        margin:0;
        height:auto;
    }
    #header #logo h1, #header #nav ul{
        line-height:normal;
    }
    #header #logo h1{
        padding:50px 0 10px;
    }
    #header #nav ul{
        padding:10px 0 50px;
    }
}

@media screen and (max-width:768px){
    #header #logo h1{
        padding:50px 0 10px;
}
