#header{
    background-color:#0c4b33;
}
    #header #logo{
        text-transform:uppercase;
        user-select:none;
        float:left;
        height:175px;
        margin:0 0 0 2vw;
    }
        #header #logo h1{
            color:#FFF;
            text-align:center;
            padding:0;
            margin:0;
            line-height:175px;
            font-size:2em;
        }
            #header #logo h1 a{
                text-decoration:none;
                color:#FFF;
            }
    #header #nav{
        float:right;
        text-transform:uppercase;
        text-align:center;
        user-select:none;
        padding:0;
        height:175px;
        margin:0 2vw 0 0;
    }
        #header #nav ul{
            width:auto;
            float:none;
            line-height:175px;
        }
        #header #nav li{
            display:inline-block;
            margin:0 1vw;
        }
        #header #nav li a{
            color:#FFF;
        }
            #header #nav li a.active{
                color:#C9F0DD;
            }
            #header #nav li a:hover{
                color:#C9F0DD;
            }
#container{
    padding:0;
    margin:0;
    overflow:hidden;
    line-height:1.5;
}
#footer{
    height:175px;
    background-color:#333333;
}
    #footer h6{
        color:#DDD;
        line-height:175px;
    }
div.section:first-child{
    border-top:none;
    border-bottom:1px #DDD solid;
}
div.section:nth-child(odd){
    background-color:#F8F8F8;
    padding:3vw;
    border-top:1px #DDD solid;
    border-bottom:1px #DDD solid;
}
div.section:nth-child(even){
    background-color:#FFF;
    padding:3vw;
}
.wsection{
    background-color:#FFF;
    padding:3vw;
}
h1, h2, h3, h4, h5, h6, p{
    color:#0C3C26;
}
h1, h2, h3, h4, h5, h6{
    text-align:center;
    text-transform:uppercase;
}
a{
    color:#116b48;
}
a:hover{
    color:#20AA76;
}
img{
    width:100%;
    height:auto;
    display:block;
    margin:0 auto;
}

.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:1140px){
    #header #logo, #header #nav{
        float:none;
        width:100%;
        margin:0;
        height:auto;
    }
    #header #logo h1, #header #nav ul{
        line-height:normal;
    }
    #header #logo h1{
        padding:50px 0 10px;
    }
    #header #nav ul{
        padding:10px 0 50px;
    }
}

@media screen and (max-width:992px){
    .vertical-align {
      display: block;
      flex-direction: row;
    }

    .vertical-align > [class^="col-"],
    .vertical-align > [class*=" col-"] {
      display: block;
    }
}

@media screen and (max-width:768px){
    #header #logo h1{
        padding:50px 0 10px;
}
