// http://meyerweb.com/eric/tools/css/reset/
//  v2.0 | 20110126
//  License: none (public domain)

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
// HTML5 display-role reset for older browsers
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// VARIABLES

$font-family: "Myriad Pro", Arial, Helvetica, sans-serif;

$black: #231f20;
$white: #ffffff;
$light-grey: #cccccc;
$dark-grey: #333333;
$blue: #003366;
$gold: #b49759;
$cyan: #00aeef;
$light-blue: #75c5f8;

$cover-index: url(../img/cover-index.jpg);
$cover-updates: url(../img/cover-updates.jpg);
$cover-events: url(../img/cover-events.jpg);

// TYPOGRAPHY

html, body{
    font-family: $font-family;
}
h1{
    font-size: 64px;
    font-weight: normal;
    color: $black;
}
h2{
    font-size: 18px;
    font-weight: bold;
    color: $dark-grey;
}
p{
    font-size: 16px;
    font-weight: normal;
    color: $dark-grey;
}
a{
    font-size: 16px;
    font-weight: normal;
    color: $cyan;
    text-decoration: none;
}
a:hover{
    color: $blue;
}

// STYLES
body, html{
    height: 100%;
}
::selection{
    color: $white;
    background-color: $light-blue; 
}
::-moz-selection{
    color: $white;
    background-color: $light-blue;
}
#header{
    height: 100px;
    padding: 15px 100px;
    background-color: rgb(0, 51, 102);
    background-color: rgba(0, 51, 102, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    user-select: none;
    z-index: 1;
    img{
        height: 50px;
        padding: 25px 0px;
        width: auto;
    }
    #nav{
        float: right;
        line-height: 100px;
        li{
            display: inline;
            margin: 0px 20px;
            a{
                font-size: 18px;
                font-weight: bold;
                color: $white;
                text-transform: uppercase;
            }
            a:hover{
                color: $light-blue;
            }
            a.active{
                color: $light-blue;
                border-bottom: 4px solid $light-blue;
            }
            a.loginout{
                color: $gold;
            }
            a.loginout:hover{
                color: $light-blue;
            }
        }
    }
}
#cover-index{
    background-image: $cover-index;
}
#cover-updates{
    background-image: $cover-updates;
}
#cover-events{
    background-image: $cover-events;
}
.cover{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    user-select: none;
    #cover-text{
        height:100%;
        background-color: rgba(0, 0, 0, 0.4);
        h2{
            color: rgb(255, 255, 255);
            color: rgba(255, 255, 255, 0.9);
            font-size: 72px;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
        h3{
            color: rgb(255, 255,255);
            color: rgba(255, 255, 255, 0.9);
            font-size: 32px;
            text-transform: uppercase;
            text-align: center;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
            font-weight: bold;
        }
    }
}
#content{
    overflow: hidden;
    .section{
        margin: 0 auto;
        padding: 0px 10%;
        .text-section{
            padding: 50px 10%;
            h1, .post-title{
                font-size: 48px;
                font-weight: bold;
                text-transform: uppercase;
                color: $blue;
            }
            .post-title{
                color: $black;
            }
            .post-title:hover{
                color: $light-blue;
            }
            h2{
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }
            p{
                font-size: 18px;
                line-height: 30px;
                padding-top: 25px;
                padding-bottom: 25px;
            }
            p:last-child{
                padding-bottom: 0px;
            }
            .shift{
                margin:15px 0px;
                a{
                    font-size:18px;
                    font-weight: bold;
                }
            }
            a.highlighted{
                color: $gold;
            }
            a.highlighted:hover{
                color: $blue;
            }
            .form-errors{
                font-weight: bold;
                text-transform: uppercase;
                padding-bottom: 50px;
                li{
                color: $gold;
                font-size: 32px;
                }
            }
            .form-field{
                font-weight: bold;
                label{
                    color: $blue;
                    text-transform: uppercase;
                    font-size: 24px;
                }
                input{
                    color: $dark-grey;
                    font-size: 24px;
                }
            }
            .field-errors{
                li{
                    color: $gold;
                    font-weight: bold;
                    text-transform: uppercase;
                    margin: 10px 0px;
                }
            }
        }
        .pagination{
            a{
                color:$black;
                text-transform: uppercase;
                font-weight: bold;
                margin: 10px;
            }
            a:hover{
                color:$cyan;
            }
        }
        a.button{
            color: $white;
            background-color: $light-blue;
            border: 1px solid $light-blue;
            padding: 20px 30px 17px;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            user-select: none;
        }
        a.button:hover{
            background-color: $blue;
            border: 1px solid $blue;
        }
    }
    .section:nth-child(even){
        background-color: $light-blue;
        .text-section{
            h1, h2, p, .post-title{
                color: $white;
            }
            .post-title:hover{
                color: $blue;
            }
        }
        .pagination{
            a{
                color:$white;
                text-transform: uppercase;
                font-weight: bold;
            }
            a:hover{
                color:$cyan;
            }
        }
        a.button{
            color: $white;
            background-color: transparent;
            border: 1px solid $white;
            padding: 20px 30px 17px;
            margin: 0 auto;
            text-transform: uppercase;
            font-weight: bold;
            letter-spacing: 1px;
            user-select: none;
        }
        a.button:hover{
            border: 1px solid $gold;
            background-color: $gold;
            color: $white;
        }
        a{
            color:$white;
        }
        a:hover{
            color: $blue;
        }
    }
    .sidebar{
        margin: 0 auto;
        .text-section{
            padding: 50px 10%;
            h1{
                font-size: 48px;
                font-weight: bold;
                text-transform: uppercase;
            }
            h2{
                font-size: 24px;
                font-weight: bold;
                text-transform: uppercase;
            }
            p{
                font-size: 18px;
                line-height: 30px;
                padding-top: 25px;
                padding-bottom: 25px;
            }
            p:last-child{
                padding-bottom: 0px;
            }
            ul{
                margin-top: 15px;
                li{
                    line-height: 30px;
                    text-transform: uppercase;
                    a{
                        font-size: 24px;
                        font-weight: bold;
                    }
                    span{
                        font-size: 18px;
                        font-weight: normal;
                    }
                }
            }
            .shift{
                margin:15px 0px;
                a{
                    font-size:18px;
                    font-weight: bold;
                }
            }
        }
    }
    .left-two-thirds{
        width: 50%;
        float: left;
        padding: 0px 0px 0px 10%;
    }
    .right-one-thirds{
        width: 30%;
        float: right;
        padding: 0px 10% 0px 0px;
    }
}
#content.no-cover{
    padding-top: 130px;
    min-height: calc(100vh - 330px);
}
#footer{
    background-color: $black;
    padding: 50px 0px;
    user-select: none;
    clear: both;
    img{
        height: 100px;
        width: auto;
        display: block;
        margin: 0 auto;
    }
}
.ta-center{
    text-align: center;
}
.uppercase{
    text-transform: uppercase;
}